<h2>My Heroes</h2>
<div *ngIf="selectedHero">
  <h2>
    {{selectedHero.name | uppercase}} is my hero
  </h2>
  <button (click)="gotoDetail()">View Details</button>
</div>
<ul class="heroes">
  <li *ngFor="let hero of heroes" (click)="onSelect(hero)" [class.selected]="hero === selectedHero">
    <!-- each hero goes here -->
    <span class="badge">{{hero.id}}</span> {{hero.name}}
  </li>
</ul>

